// Remember to use rems and ems. http://css-tricks.com/rems-ems.

@import '~normalize.css/normalize.css';

// http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Goodness.
*,
::after,
::before {
  box-sizing: border-box;
}

.cmsbl-header {
  .mdl-navigation__link {
    font-weight: 700;
  }
}

.cmsbl-footer {
  margin-top: 64px;

  .cmsbl-footer-contents {
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
  }
}

body #a0-lock.a0-theme-default,
body #a0-widget {
  /* your css rules */
  button.a0-primary {
    background-color: rgb(244,67,54) !important;
  }
}
